*{
    padding: 0;
    margin: 0;

}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.space{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold{
    font-weight: 800;
}

.azul-oscuro{
  color: #0F172A;
}

.gris-oscuro{
  color: #2B2F36;
}

.gris-medio{
  color:#475569
}

.gris-claro{
  color: #8a8b8c;
}

.blanco{
  color: rgb(213, 211, 211);
}

.btn-wtsapp{
  color: azure;
  background-color: rgb(17, 195, 97);
  padding: 5%;
  border: 2px, solid white;
  border-radius: 5px;

}

.foto-producto{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card h3, p{
  padding: 5%;
}

.card h3{
  text-align: center;
}

.card p{
  text-align: left;
}

h1, h2, h3{
  font-family: 'Montserrat';
}

h1{
  font-size: 20px;
}

h2{
  font-size: medium;
    line-height: 1.5;
}

p, a{
  font-family: 'Space Grotesk';
}

ul, li{
  list-style: none;
  display: flex;
  gap: 10%;
}

a{
  text-decoration: none;
}

header{
  display: flex;
  gap: 20%;
  padding: 5%;
  justify-content: center;
}

#img-hero{
  width: 100%;
  height: 100%;
  background-image:
  linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0,0,0,0.25)),
  url('../imgs/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero h2{
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 500;
}

#hero{
  width: 65%;
  padding: 5% 10% 15% 10%;
}

#mision{
  width: 100%;
  height: 20vh;
  background-color: #d0d2d4;
  padding-top: 10%;
}

#mision h1{
   margin-inline: auto; 
  width: 90%;
    text-align: center;
  font-weight: 500;
  font-size: large;
  line-height: 1.5;
}

#envios{
  width: 100%;
  height: 40vh;
  /* 2 capas: degradé (cubre) + imagen (encajada) */
  background-image:
    linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.25)),
    url('../imgs/envios.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, contain;   /* ← degradé cover / imagen contain */
 
}

